@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&display=swap");
@import "tailwindcss";

@theme {
  --color-bg: #212121;
  --color-bg-context: #181818;
  --color-text: #aaaaaa;
  --color-text-bright: #f6f6f8;
  --color-accent: #5875e8;
  --color-border: #2f2f2f;
  --color-input: #181818;
  --color-placeholder: #8d918c;
  --color-button-hover: #aaaaaa14;
  --color-button-active: #aaaaaa26;
  --color-shadow: rgba(0, 0, 0, 0.34);
}

:root[data-theme="default"],
:root[data-theme="light"],
:root[data-theme="dark"] {
  --color-bg: #212121;
  --color-bg-context: #181818;
  --color-text: #aaaaaa;
  --color-text-bright: #f6f6f8;
  --color-accent: #5875e8;
  --color-border: #2f2f2f;
  --color-placeholder: #8d918c;
  --color-button-hover: #aaaaaa14;
  --color-button-active: #aaaaaa26;
  --color-shadow: rgba(0, 0, 0, 0.34);
}

html,
body {
  overscroll-behavior: none;
}

body {
  background: var(--color-bg-context);
  color: var(--color-text);
  font-family: "Golos Text", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: -webkit-fill-available;
  -webkit-tap-highlight-color: transparent; /* remove blue bg on click */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 9999s;
  transition-delay: 9999s;
}
button:focus,
input:focus,
a:focus {
  outline: none;
}

/* @media (hover: hover) {
  .hideScrollbarMobile {
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }
  .hideScrollbarMobile::-webkit-scrollbar {
    display: none;
  }
} */

.hideScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hideScrollbar::-webkit-scrollbar {
  display: none;
}

/* Для WebKit браузеров (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #4a4a4a;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5a5a5a;
}

/* Для Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4a4a4a #1a1a1a;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
